Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
pandas
numpy
scikit-learn
opencv-python
dowhy
matplotlib
reportlab
email-validator
Werkzeug
PyMySQL
cryptography
xgboost
prophet
statsmodels
openpyxl
ultralytics
torch
torchvision
