<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-12 text-center py-3">
                    <hr>
                    <p class="text-muted mb-0">
                        &copy; 2025 CareBeforeCare - Pre-Hospital Care Platform. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>